{% import "ErbolkingGuestBookBundle:Common:macros.html.twig" as macros %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Really Simple Guest Book</title>
    <link rel="stylesheet" href="{{ asset('bundles/guestbook/css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/guestbook/css/apps.css') }}" />
    <script src="{{ asset('bundles/guestbook/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('bundles/guestbook/js/vendor/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/guestbook/js/vendor/foundation/foundation.min.js') }}"></script>
    <script src="{{ asset('bundles/guestbook/js/apps.js') }}"></script>
</head>
<body>
<nav class="top-bar" data-topbar="">
    <ul class="title-area">
        <li class="name"><h1><a href="#">Guest Book</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <li><a href="#">Home</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com/Erbolking/guestBook">Github</a></li>
        </ul>
    </section>
</nav>
<ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li class="current"><a href="#">Guest Book</a></li>
</ul>
<div class="row">
    <div class="title-area">
        <h2>Guest book</h2>
        <h4 class="subheader">The best guest book all around the world! :)</h4>
        <hr>
    </div>
    <div class="row">
        <div class="large-4 medium-4 small-6 columns">
            <h5>There are {{ entries|length }} entries:</h5>
        </div>
        <div class="large-2 medium-4 small-4 columns">
            <label for="perPage" class="left inline">Per page:</label>
            <select class="large-6 middle-6 small-6" id="perPage">
                {% for i in [10, 20, 50, 100] %}
                    <option {% if pagination.perPage == i %} selected {% endif %} value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr>
    <div class="large-10 columns" id="entries">
        {% for entry in entries %}
            {{ macros.renderEntry(entry) }}
        {% endfor %}
        <div class="row">
            {% include 'ErbolkingGuestBookBundle:Common:pagination.html.twig' %}
        </div>
        <hr/>

        <div id="postBlock">
            {% include 'ErbolkingGuestBookBundle:Common:form.html.twig' %}
        </div>
    </div>
</div>
<div class="hide-for-small-only">
    <a href="#" class="scrollUp"></a>
</div>
<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>© GNU General Public License</p>
            </div>
            <div class="large-7 columns">
                <ul class="inline-list right">
                    <li><a href="https://github.com/Erbolking/guestBook">GitHub</a></li>
                    <li><a href="https://github.com/Erbolking/guestBook">About</a></li>
                    <li><a href="mailto:algoritm.ek@gmail.com">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>